<div class='container-fluid bg-white'>
  <div class='container center'>
    <h3>Entries for <%= @date.strftime('%b %d')%></h3>

    <% unless @date == current_user.start_date %>
      <%= link_to 'Previous Day', entries_path(date: (@date - 1.day)), class: 'float-left' %>
    <% end %>

    <%  if show_back_to_today_link? %>
      <%= link_to 'Back to Today', entries_path(date: Date.current) %>
    <% end %>

    <% unless @date == current_user.end_date %>
      <%= link_to 'Next Day', entries_path(date: (@date + 1.day)), class: 'float-right' %>
    <% end %>
  </div>
  <br/>
  <div class='container entries-container'>
    <% @five_year_dates.each do |date| %>
      <div class='entry-row'>
        <div class='entry-header'>
          <h2><%= date.strftime('%Y') %></h2>
          <h3 class='float-right'><%= @entries[date.to_s]&.created_at&.strftime(' %l:%M %p') %></h3>
        </div>
        <div class='entry-body'>
          <%= render entry_body_or_form_partial(date), date: date %>
        </div>
      </div>
    <% end %>
  </div>
</div>
