<div class='container-fluid bg-white'>
  <div class='container center'>
    <h3>Entries for <%= @date.strftime('%b %d')%></h3>
    <%= link_to 'Previous Day', entries_path(date: (@date - 1.day)), class: 'float-left' %>
    <%  if show_back_to_today_link? %>
      <%= link_to 'Back to Today', entries_path(date: Date.current) %>
    <% end %>
    <%= link_to 'Next Day', entries_path(date: (@date + 1.day)), class: 'float-right' %>
  </div>
  <br/>
  <div class='container entries-container'>
    <% @five_year_dates.each do |date| %>
      <h2><%= date.strftime('%Y') %></h2>
      <div class='entry-row'>
       <%= render entry_body_or_form_partial(date), date: date %>
      </div>
    <% end %>
  </div>
</div>
